body {
    background-color: #A6E2DC;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    height: 100vh;
    margin: 0;
    padding: 40px 0; /* Add some padding at the top and bottom */
}

.game-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 2px;
    border: 5px solid #707070; /* Medium grey border */
    margin-top: 20px; /* Ensure some space between the instructions box and the game board */
}

.square {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.instructions-box {
    position: fixed; /* Fixed positioning */
    top: 10px; /* Position at the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center align the element */
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    z-index: 10; /* Ensure it's above other elements */
    max-width: 80%; /* Prevent it from becoming too wide */
}
